@import "@/styles/tools/main.scss";

.Container {
  padding: var(--site-padding);
  display: grid;
  height: var(--window-height, 100%);
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
