@import "@/styles/tools/main.scss";

.Container {
  padding: var(--site-padding);
  display: grid;
  grid-template-areas: "header header" "menu video-controls";
  column-gap: var(--site-padding);
  height: 100%;

  @include minWidth(desktop) {
    grid-template-columns: 3fr 1fr;
  }

  @include minWidth(hires) {
    grid-template-columns: 2fr 1fr;
  }
}

.Header {
  grid-area: header;
}

.Menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.VisualizerLink {
  grid-area: video-controls;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
