@import "@/styles/tools/main.scss";

.PlayButton {
  @include resetLink;
  @include fontSize(32px);
  display: block;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: rem(18px) rem(20px);

  @include minWidth(desktop) {
    @include fontSize(40px, 40px);
    padding: rem(32px);
  }
}
