@import "@/styles/tools/main.scss";

.Videos {
  display: grid;
  grid-auto-flow: row dense;
  gap: 1rem;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;

  @include minWidth(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include minWidth(desktop) {
    font-size: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
  }
}

.Video {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;

  @include minWidth(tablet) {
    &[data-size="tall"] {
      grid-row: span 3;
    }

    &[data-size="wide"] {
      grid-column: span 2;
    }
  }

  @include minWidth(desktop) {
    grid-column: span 4;

    &[data-size="tall"] {
      grid-row: span 2;
      grid-column: span 3;
    }

    &[data-size="long"] {
      grid-row: span 3;
    }

    &[data-size="wide"] {
      grid-row: span 2;
      grid-column: span 9;
    }
  }
}

.Text {
  padding-top: 1rem;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;

  span:nth-child(even) {
    text-align: right;
  }
}
