@import "@/styles/tools/main.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
#__next,
#__next > div {
  height: 100%;
}

body {
  @include fontSize(16px, 16px);
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "DIN", monospace;
  text-transform: uppercase;
  font-smooth: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include minWidth(tablet) {
    @include fontSize(28px);
  }

  @include minWidth(desktop) {
    @include fontSize(28px);
  }
}

p {
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-blue);
}
