@font-face {
  font-family: 'System85';
  src: url('/fonts/system85/system85-mono-regular-pro.woff2') format('woff2'),
       url('/fonts/system85/system85-mono-regular-pro.woff') format('woff');
}

@font-face {
  font-family: 'System85';
  font-weight: 700;
  src: url('/fonts/system85/system85-mono-bold-pro.woff2') format('woff2'),
       url('/fonts/system85/system85-mono-bold-pro.woff') format('woff');
}

@font-face {
  font-family: 'System85';
  font-style: italic;
  src: url('/fonts/system85/system85-mono-italic-pro.woff2') format('woff2'),
       url('/fonts/system85/system85-mono-italic-pro.woff') format('woff');
}