@font-face {
  font-family: 'ABC Monument Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/abc-monument-grotesk-regular.woff2') format('woff2'),
    url('/fonts/abc-monument-grotesk-regular.woff') format('woff');
  font-display: swap;
}
