@font-face {
  font-family: "System85";
  src: url("/fonts/system85/system85-mono-regular-pro.woff2") format("woff2"),
    url("/fonts/system85/system85-mono-regular-pro.woff") format("woff");
  /* addressed a bug with webkit and firefox positioning text differently */
  ascent-override: 97%;
  descent-override: 25%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "System85";
  font-weight: 700;
  src: url("/fonts/system85/system85-mono-bold-pro.woff2") format("woff2"),
    url("/fonts/system85/system85-mono-bold-pro.woff") format("woff");
  /* addressed a bug with webkit and firefox positioning text differently */
  ascent-override: 97%;
  descent-override: 25%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "System85";
  font-style: italic;
  src: url("/fonts/system85/system85-mono-italic-pro.woff2") format("woff2"),
    url("/fonts/system85/system85-mono-italic-pro.woff") format("woff");
  /* addressed a bug with webkit and firefox positioning text differently */
  ascent-override: 97%;
  descent-override: 25%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "DIN";
  src: url("/fonts/din/DIN Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("/fonts/din/DIN Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
