@import '@/styles/tools/main.scss';

:root {
  --site-padding: #{rem(16px)};

  --color-white: #ffffff;
  --color-black: #000000;

  @include minWidth(desktop) {
    --site-padding: #{rem(40px)};
  }
}
