@import "@/styles/tools/main.scss";

.Container {
  display: flex;
  flex-wrap: wrap;
  gap: rem(6px);

  @include minWidth(desktop) {
    gap: rem(16px);
  }
}

.MenuItem {
  @include fontSize(38px);
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: rem(9px);

  @include minWidth(tablet) {
    @include fontSize(64px);
    padding: rem(14px);
  }

  @include minWidth(desktop) {
    @include fontSize(92px);
    padding: rem(20px);
  }

  a {
    @include resetLink;
  }
}
