@import "@/styles/tools/main.scss";

.Events {
  display: grid;
  gap: 1rem;
  font-size: 1.25rem;

  @include minWidth(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include minWidth(desktop) {
    font-size: 2rem;
  }
}

.Event {
  background-color: var(--color-black);
}
