@import "@/styles/tools/main.scss";
@import "@/styles/templates/maxWidth.scss";

.Container {
  @extend %MaxWidth;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: rem(16px);
  padding-bottom: rem(24px);
  display: grid;
  gap: 1rem;

  @include minWidth(desktop) {
    padding: rem(32px);
  }

  grid-template-areas: "video" "title" "project-videos" "description";

  @include minWidth(tablet) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "video video" "title title" "description project-videos";
  }

  &[data-size="tall"],
  &[data-size="long"] {
    @include minWidth(tablet) {
      align-items: flex-start;
      justify-content: flex-start;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      grid-auto-rows: min-content;
      grid-template-areas: "video title" "video description" "project-videos description";
    }
  }
}

.Video {
  grid-area: video;
}

.Title {
  grid-area: title;
}

.Description {
  max-width: 72ch;
  text-transform: none;
  grid-area: description;
}

.ProjectVideos {
  display: flex;
  gap: rem(16px);
  grid-area: project-videos;

  @include maxWidth(tablet) {
    overflow: auto;
  }

  @include minWidth(tablet) {
    .Container:not([data-size="tall"], [data-size="long"]) & {
      flex-direction: column;
    }
  }
}

.ProjectVideo {
  position: relative;
  border: 1px solid white;
  flex-shrink: 0;
  width: 66%;
  max-width: 280px;
  min-width: 160px;

  @include minWidth(tablet) {
    .Container:not([data-size="tall"], [data-size="long"]) & {
      width: 100%;
      max-width: none;
      min-width: none;
    }
  }
}

.ProjectVideoElement.ProjectVideoElement {
  video {
    aspect-ratio: 16 / 9;
  }
}

.PlayIcon {
  @include resetButton;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  background: white;
  color: black;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  svg {
    width: 100%;
    vertical-align: top;
  }
}
