@import "@/styles/tools/main.scss";

.Container {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: rem(16px);
  display: grid;
  gap: 1rem;

  &[data-size="tall"],
  &[data-size="long"] {
    @include minWidth(desktop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

.Text {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.Description {
  max-width: 72ch;
}
