@import "@/styles/tools/main.scss";

.Container {
  padding: var(--site-padding);
  display: grid;
  height: var(--window-height, 100vh);

  --ui-opacity: 1;
  --ui-opacity-timing: 0.3s;

  &[data-hide-ui="true"] {
    --ui-opacity: 0;
    --ui-opacity-timing: 2.4s;
  }
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.VideoLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: rem(6px);
  opacity: var(--ui-opacity);
  transition: opacity var(--ui-opacity-timing) ease-in-out;

  @include minWidth(desktop) {
    gap: rem(16px);
  }
}

.VideoLink {
  @include resetButton;
  @include fontSize(24px);
  font-smooth: auto;
  -moz-osx-font-smoothing: auto;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: rem(9px);

  @include minWidth(desktop) {
    @include fontSize(40px);
    padding: rem(16px);
  }

  &[data-active="true"] {
    &:before {
      content: "▶ ";
      font-family: "System85", monospace;
    }
  }
}

.VideoLinkType {
  font-size: 0.5em;
}
