@import "@/styles/tools/main.scss";

.Container {
  padding: var(--site-padding);
  display: grid;
  grid-template-areas: "header header" "menu video-controls";
  height: var(--window-height, 100vh);

  &[data-hide-ui="true"] {
    --ui-opacity: 0;
  }
}

.Header {
  grid-area: header;
}

.Menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.VideoLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(6px);
  opacity: var(--ui-opacity);
  transition: opacity 0.3s ease-in-out;

  @include minWidth(desktop) {
    gap: rem(16px);
  }
}

.VideoLink {
  @include resetButton;
  @include fontSize(20px);
  font-smooth: auto;
  -moz-osx-font-smoothing: auto;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: rem(9px);

  @include minWidth(desktop) {
    @include fontSize(38px);
    padding: rem(16px);
  }

  &[data-active="true"] {
    &:before {
      content: "▶ ";
      font-family: "System85", monospace;
    }
  }
}
