@import '@/styles/tools/main.scss';

%Hero {
  @include responsiveWindowHeight;
  padding-top: rem(20px);
  padding-bottom: rem(40px);
  background-color: var(--color-black);
  color: var(--color-white);
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;

  @include minWidth(tablet) {
    padding-bottom: rem(56px);
  }

  @include minWidth(largeDesktop) {
    padding-bottom: rem(71px);
  }

  @include minWidth(hires) {
    padding-bottom: rem(80px);
  }
}

%HeroText {
  @include container;
  @include sitePadding;
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
}