@import '@/styles/generic/main.scss';
@import '@/styles/trumps/main.scss';

.all-caps-adjust {
    display: block;
    margin-top: -0.15em;
    margin-bottom: -0.13em;
    margin-left: -0.005em;
    margin-right: -0.01em;
}