@import "@/styles/tools/main.scss";

.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16px);
}

.Logo {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: rem(32px) rem(35px) rem(32px) rem(25px);
    
    svg {
        path {
            fill: currentColor;
        }
    }
}

.Com {
    @include fontSize(74px);
    color: var(--color-white);
    background-color: var(--color-black);
    padding: rem(18px) rem(20px) rem(9px) rem(0px);
}