@import "@/styles/tools/main.scss";

.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(6px);

    @include minWidth(desktop) {
        gap: rem(16px);
    }
}

.Logo {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: rem(16px) rem(17px) rem(16px) rem(12px);
    width: 100%;

    @include minWidth(desktop) {
        padding: rem(32px) rem(35px) rem(32px) rem(25px);
        max-width: rem(1120px);
    }
    
    svg {
        width: 100%;
        max-width: 100%;

        path {
            fill: currentColor;
        }
    }
}

.Com {
    @include fontSize(40px);
    color: var(--color-white);
    background-color: var(--color-black);
    padding: rem(10px) rem(11px) rem(4px) rem(0px);

    @include minWidth(desktop) {
        @include fontSize(74px);
        padding: rem(18px) rem(20px) rem(9px) rem(0px);
    }
}