@import "@/styles/tools/main.scss";

.VideoContainer {
  position: relative;
  flex-grow: 1;

  video {
    width: 100%;
    height: auto;
    vertical-align: top;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &[data-size="tall"] video,
  &[data-size="long"] video {
    aspect-ratio: 9 / 16;
  }
}

.YoutubeContainer {
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
  }
}

.Controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  padding: 0.2rem;
}

.ControlButton {
  @include resetButton;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  background: rgba(0, 0, 0, 1);
  padding: 0.5rem;

  svg {
    width: 100%;
    vertical-align: top;
  }
}
