@import "@/styles/tools/main.scss";

.Wrapper {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: rem(16px);
    height: 100%;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.Container {
    overflow: auto;
    height: 100%;
}

.SectionTitle {
    @include resetText;
    font-weight: 700;

    &:before {
        content: var(--lines);
        font-weight: 400;
    }
}

.Content {
    display: flex;
}

.Lines {
    font-weight: 400;
    white-space: pre;
}

.LineStart:before {
    content: "│ ";

    @include minWidth(desktop) {
        content: "│  ";
    }
}

.LineEnd:before {
    content: "├ ";

    // .Lines[data-is-last="true"]:not([data-depth="0"]) & {
    //     content: "├ ";
    // }

    @include minWidth(desktop) {
        content: "├─ ";
    }
}