@import "@/styles/tools/main.scss";

.PlayButton {
  @include resetLink;
  @include fontSize(40px, 40px);
  display: block;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: rem(32px);
}
