@import "@/styles/tools/main.scss";

.Container {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.Video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}

.LoadingContainer {
  position: fixed;
  z-index: -1;
  background-color: var(--color-black);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loading {
  background: var(--color-white);
  padding: 1rem;

  &:after {
    content: "Initialisssing...";
  }
}
